include *.txt
include .coveragerc
include base.cfg
include buildout.cfg
include test_plone43.cfg
include test_plone50.cfg
include test_plone51.cfg
include test_plone52.cfg
recursive-include docs *.GPL
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include yaco *.po
recursive-include yaco *.pot
recursive-include yaco *.pt
recursive-include yaco *.sh
recursive-include yaco *.txt
recursive-include yaco *.xml
recursive-include yaco *.zcml
